In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\suyas\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\suyas\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\suyas\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\suyas\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\suyas\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\suyas\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

df=pd.read_csv("globalAirQuality.csv")

In [4]:
df["aqi"]

0        108
1         90
2         84
3        158
4         97
        ...
17995    103
17996    105
17997    122
17998     95
17999     88
Name: aqi, Length: 18000, dtype: int64

In [5]:
df[["city","aqi",]]

           city  aqi
0      New York  108
1      New York   90
2      New York   84
3      New York  158
4      New York   97
...         ...  ...
17995    Zurich  103
17996    Zurich  105
17997    Zurich  122
17998    Zurich   95
17999    Zurich   88

[18000 rows x 2 columns]

In [6]:
df.loc[0:2]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650

In [7]:
df.loc[0:2,["city","aqi","no2"]]

       city  aqi     no2
0  New York  108  27.998
1  New York   90  36.120
2  New York   84  26.935

In [8]:
df.columns

Index(['timestamp', 'country', 'city', 'latitude', 'longitude', 'pm25', 'pm10',
       'no2', 'so2', 'o3', 'co', 'aqi', 'temperature', 'humidity',
       'wind_speed'],
      dtype='object')

In [9]:
#filtering of data
df[df["aqi"]>120]
df[(df["aqi"]>120) & (df["temperature"]>35)].head()

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
17,2025-11-05 11:25:17.554219,US,New York,40.713,-74.006,63.552,57.838,13.754,4.427,42.251,0.997,127,36.193,62.906,7.097
82,2025-11-08 04:25:17.554219,US,New York,40.713,-74.006,40.081,98.158,48.832,3.014,70.108,0.852,122,36.859,86.703,9.652
105,2025-11-09 03:25:17.554219,US,New York,40.713,-74.006,63.994,67.237,37.392,8.483,40.692,0.725,127,36.977,86.546,0.600
182,2025-11-12 08:25:17.554219,US,New York,40.713,-74.006,66.706,36.434,14.805,11.517,58.370,0.664,133,37.694,51.221,4.622

In [10]:
aqi_data=df[(df["aqi"]>120) & (df["temperature"]>35)][["city","aqi"]]
aqi_data.iloc(1)

In [11]:
aqi_data.iloc[1]

#query
df.query("aqi>112 & temperature>30")

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
7,2025-11-05 01:25:17.554219,US,New York,40.713,-74.006,57.816,111.709,34.533,6.945,41.304,0.771,115,37.891,53.314,7.605
14,2025-11-05 08:25:17.554219,US,New York,40.713,-74.006,38.815,121.394,25.969,4.112,44.730,1.124,121,34.481,81.790,3.576
17,2025-11-05 11:25:17.554219,US,New York,40.713,-74.006,63.552,57.838,13.754,4.427,42.251,0.997,127,36.193,62.906,7.097
25,2025-11-05 19:25:17.554219,US,New York,40.713,-74.006,56.954,75.045,29.837,9.541,54.198,1.170,113,31.289,43.279,5.264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17881,2025-11-14 19:25:17.554219,CH,Zurich,47.377,8.542,37.544,36.994,46.520,8.295,51.298,0.458,116,31.725,85.070,1.210
17883,2025-11-14 21:25:17.554219,CH,Zurich,47.377,8.542,34.535,79.758,51.954,7.806,68.408,0.977,129,36.133,48.557,4.431
17940,2025-11-17 06:25:17.554219,CH,Zurich,47.377,8.542,57.256,32.721,18.769,2.071,50.883,0.655,114,32.296,26.376,6.584
17950,2025-11-17 16:25:17.554219,CH,Zurich,47.377,8.542,70.255,60.620,32.081,2.065,47.803,0.852,140,36.885,34.173,1.748
17976,2025-11-18 18:25:17.554219,CH,Zurich,47.377,8.542,73.493,89.558,9.313,4.768,51.505,0.745,146,30.909,81.573,1.024